/* camera.scss
=========================================================*/
/*================   Custom Layout&Styles   =====================*/
.camera_caption .bg-secondary {
  background: rgba(76, 175, 80, 0.8);
}
.lt-ie9 .camera_caption .bg-secondary {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC4CAF50', endColorstr='#CC4CAF50')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC4CAF50', endColorstr='#CC4CAF50');
  zoom: 1;
}
.camera_caption .bg-secondary .btn {
  color: #777777;
}
.camera_caption .bg-secondary .btn:hover {
  color: #333333;
}

.camera_pag_ul li {
  background: #4CAF50;
}

.camera_next, .camera_prev {
  background: #4CAF50;
}

.camera_next:hover, .camera_prev:hover {
  color: #333333;
}

/* contact-form.scss
=========================================================*/
/* google-map.scss
=========================================================*/
/* owl-carousel.scss
=========================================================*/
@-webkit-keyframes fadeOut {}
.owl-dots .owl-dot {
  background: #d4d3d3;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #4CAF50;
}

/* search.scss
=========================================================*/
.search-form_toggle {
  color: #777777;
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #333333;
}

.search-form_liveout .search_link .search_title {
  color: #333333;
}
.search-form_liveout .search_link:hover {
  background: #333333;
  color: #999999;
}
.search-form_liveout .search_error {
  color: #333333;
}
.search-form_liveout button {
  color: #333333;
}
.search-form_liveout button:hover {
  background: #333333;
}

.search-frame h4 a:hover {
  color: #333333;
}
.search-frame .search_list li:before {
  background: #4CAF50;
}
.search-frame .search_list li h4 a:hover {
  color: #4CAF50;
}
.search-frame .search {
  color: #777777;
}
.search-frame .match {
  color: #4CAF50;
}

/* style.scss
=========================================================*/
body {
  background: #fff;
  color: #777777;
}

h1, h2, h3, h5 {
  color: #333333;
}

h4, h6 {
  color: #4CAF50;
}

h6 a:hover {
  color: #333333;
}

.brand {
  background: #4CAF50;
}

.bg-primary {
  background: #f2f2f2;
}

.bg-primary_hover:hover {
  background: #4CAF50;
}
.bg-primary_hover:hover h1 a:hover, .bg-primary_hover:hover h2 a:hover, .bg-primary_hover:hover h3 a:hover, .bg-primary_hover:hover h4 a:hover, .bg-primary_hover:hover h5 a:hover, .bg-primary_hover:hover h6 a:hover {
  color: #333333;
}

.bg-secondary {
  background: #4CAF50;
}

.info-box .fa-phone {
  color: #333333;
}
.info-box .fa-phone:before {
  color: #4CAF50;
}
.info-box .fa-phone:hover {
  color: #4CAF50;
}
.info-box .fa-envelope-o {
  color: #4CAF50;
}
.info-box .fa-envelope-o:hover {
  color: #333333;
}

.social li a:hover {
  color: #333333;
}

.contact-info a, .contact-info address {
  color: #777777;
}
.contact-info a:hover {
  color: #4CAF50;
}

.fa-envelope, .fa-mobile, .fa-map-marker {
  color: #4CAF50;
}

.btn {
  background: #4CAF50;
}
.btn:hover {
  background: #557156;
}
.btn:active {
  background: #3f5440;
}

.box_cnt__no-flow p q .fa-quote-right {
  color: #4CAF50;
}

.index-list li:before {
  background: #4CAF50;
}

.inline-list li h4 a:hover {
  color: #4CAF50;
}
.inline-list li .overlay {
  background: rgba(0, 0, 0, 0.6);
}
.lt-ie9 .inline-list li .overlay {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
  zoom: 1;
}

header {
  background: #fff;
}

main {
  background: #fff;
}

.description dt {
  color: #4CAF50;
}

.terms-list dt {
  color: #4CAF50;
}
.terms-list + a {
  color: #4CAF50;
}

footer {
  background: #fff;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #333333;
}
footer .clr1 {
  color: #4CAF50;
}

.sf-menu > li > a {
  color: #777777;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  background: #4CAF50;
}
.sf-menu > li.active > a {
  background: #4CAF50;
}

.sf-menu ul {
  background: #fff;
}

.sf-menu ul > li > a {
  color: #777777;
  background: #fff;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #4CAF50;
}

.sf-menu ul ul > li > a {
  background: #4CAF50;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #777777;
  background: #fff;
}

.sf-menu ul .sf-with-ul:before {
  color: #4CAF50;
}

@media (max-width: 767px) {
  .stuck_container {
    background: #4CAF50;
  }
}

.toTop {
  background: #4CAF50;
}
.toTop:hover {
  color: #4CAF50;
}
