<!DOCTYPE html>
<html>
<head>
	<title>Healthy Kitch</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	
	<script src ="js/jquery-2.1.4.min.js"></script>
	<script src ="bootstrap/js/bootstrap.min.js"></script>
  
      <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/template/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    
      <style>
    	.actionsBar input{
    		padding:5px;
    	}
    	
    	
    </style>

</head>
<body>
<form action="" method="<?php echo $controller->formMethod(); ?>" name="mainForm" id="mainForm" enctype="multipart/form-data">
    <input type="hidden" name="page" value="" id="page">
    <input type="hidden" name="action" value="" id="action">
	<input type="hidden" name="transactionID" value="<?php echo $_SESSION["transactionID"]; ?>" id="transactionID">
	<div class="container">
		<div class=header>
			<div>
				<div>Healthy Kitch</div>
				<div>For all your healthy recipes</div>
			</div>
		</div>
		
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Healthy Kitch</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"> <?php addSubmitButtonWithActions("Recipe List", array("page" => "RecipeList", "action" => "doNothing")); ?></li>
      <li><?php addSubmitButtonWithActions("New Recipe", array("page" => "RecipePageEdit", "action" => "doNothing")); ?></li>
      <li><?php addSubmitButtonWithActions("My Profile", array("page" => "MyProfileEdit", "action" => "doNothing")); ?></li>
    </ul>
  </div>
</nav>
  		
<form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
	       
		<div class="container">
		<?php if ($controller->errorMessage) : ?>
			<div id="errorMessage">
				<?php echo $controller->errorMessage; ?>
			</div>
		<?php endif; ?>
	
		<?php if ($controller->alertMessage) : ?>
			<div id="alertMessage">
				<?php echo $controller->alertMessage; ?>
			</div>
		<?php endif; ?>
		
		<?php $controller->renderInnerTemplate(); ?>
		</div>
	</div>
</form>

</body>

</html>