<form action="" method="<?php echo $controller->formMethod(); ?>" name="mainForm" id="mainForm" enctype="multipart/form-data">
	
    <input type="hidden" name="page" value="" id="page">
    <input type="hidden" name="action" value="" id="action">
	<input type="hidden" name="transactionID" value="<?php echo $_SESSION["transactionID"]; ?>" id="transactionID">
	
	<div id='header'>

       <h1><?php echo appName(); ?></h1>
       <!-- <img src='images/logo.png' class='mainLogo'> -->
            
            
        <?php /*
         // Can be used for separate level of site admin
		 $user = $controller->user(); if ($user) :  ?>
            <div id="accountHolder">
               Logged in as: <?php echo $user->field("name"); ?>
                &nbsp;|&nbsp;
                <a href="logout.php">Logout</a>
            </div>
         
        <?php endif; */ ?>
            
    </div>
        
    <div id='main_tabbar' class="tabbar">
        <ul>
			<?php foreach($controller->tabs as $title => $component) : ?>
				<li id="tab_<?php echo strtolower($title); ?>"><a href="<?php echo $component; ?>"><?php echo $title; ?></a></li>
			<?php endforeach; ?>
        </ul>
    </div>
    
    <div id='sub_tabbar' class="tabbar">
    	<?php echo $controller->getSubtabs(); ?>
    </div>
    
	<?php if ($controller->errorMessage) : ?>
		<div id="errorMessage">
			<?php echo $controller->errorMessage; ?>
		</div>
	<?php endif; ?>

	<?php if ($controller->alertMessage) : ?>
		<div id="alertMessage">
			<?php echo $controller->alertMessage; ?>
		</div>
	<?php endif; ?>
	        
	<?php $controller->renderInnerTemplate(); ?>
        
</form>
