<input type="hidden" name="likeRecipeID" value="<?php echo $controller->formValueForKey("likeRecipeID"); ?>" id="likeRecipeID">
<script>
    function showFilters() {
        if($('#filter-row').is(':visible')) {
            $('#filter-row input').slideUp( "fast" );            
            $('#filter-row').slideUp( "fast" );
        } else {
            $('#filter-row').slideDown( "fast" );
            $('#filter-row input').slideDown( "fast" );
        }
    }
    function addRecipe() {
        document.location = "RecipeEdit";
    }
</script>

<?php 
    $displayGroup = $controller->displayGroup();
    $headers = $controller->headers();
?>


<div id="resultsList">
       <div class="toolbar">
        <div class="toolbar-buttons">
        	<!--  this is how to call a JS function -->
            <?php addInputButtonWithActions("Add Recipe JS", array(), "button-primary", null, 'addRecipe()'); ?> 
            
            <?php addSubmitButtonWithActions("Add Recipes", array("action" => "createRecipe")); ?>
            
        </div>
    </div>

    <div id="tableTitle">
        Recipes
    </div>
 
   

    <div class='tr results_table'>
        <table id="tbl_res_list" class="resultsListTable">
            <tr>
            	
            	<?php foreach ($displayGroup->objects() as $row) : ?>
            	<td width="210px;"> 
            		<div class=recipeContainer>
					<div>
						<?php echo $row->field("name"); ?>
					</div>
					<div class =recipeImage>
						<?php if($row->valueForRelationship("mainImage")) : ?>
							<?php $dimensions = proportionalWidthAndHeight($row->valueForRelationship("mainImage")->field("width"), $row->valueForRelationship("mainImage")->field("height"), 200); ?>
	                        <img width="<?php echo $dimensions["width"]; ?>" src="<?php echo domainName()."/getImage.php?id=".$row->valueForRelationship("mainImage")->field("fileID")."&key=imagePath&entity=RecipeImage"; ?>" class="editform" />
						
						<?php else: ?>
							<img width="200" src="/images/NoImage.jpg" />
						
						<?php endif; ?>
					</div>	
					<div class="recipeActions">
						<span style="float:left;"><?php 
							addSubmitLinkWithActions("mainForm",  array("page" => "RecipeList", "action" => "likeRecipeToggle", "likeRecipeID" => $row->vars["id"]), null, $controller->likesImageString($row), "smallIcon"); ?></span>
						<span><?php addLinkWithParams("Edit", "RecipeEdit/" . $row->field("id"), array()); ?>
					</div>
					
				</td>	
            	<?php endforeach; ?>
            </tr>
        </table>
    </div>

    
</div>